@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Cardo&display=swap');
* {
margin: 0;
}
p {
margin-bottom: 0rem !important;
}
.body,html {
width: 100%;
height: auto;
}
.firstsection {
max-width: 100%;
background: url(image/Image_for_firstsection.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
}
.firstsection__blackout {
height: 100%;
background: url(image/Image_for_firstsection_dark.svg);
}
.firstsection__header {
width: 78%;
max-height: 100px;
margin: 0 auto;
border-bottom: solid #BABBC5 1px;
display: flex;
align-items: center;
justify-content: space-between;
}
.firstsection__header-logo {
width: 100%;
}
.firstsection__header-logo-firstpic{
width: 10vw;
}
.firstsection__header-logo-secondpic{
width: 5vw;
}
.firstsection__header-menu {
width: 100%;
max-width: 670px;
display: flex;
}
.firstsection__header-menu-chapter {
width: 100%;
max-width: 134px;
font: 700 0.8vw 'Raleway';
display: grid;
height: 100px;
align-items: center;
color: white;
text-align: center;
}
.firstsection__header-menu-chapter:hover {
border-bottom: #BABBC5 3px solid;
height: 100px;
cursor: pointer;
}
.firstsection__header-menu-chapter:active {
color: rgba(231, 20, 20, 1);
border-bottom: rgba(231, 20, 20, 1) 3px solid;
}
.firstsection__section {
width: 78%;
height: 646px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content:space-around;
}
.firstsection__section-title {
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
font: normal 900 4vw 'Raleway';
}
.firstsection__section-paragraph {
font: normal 400 2vw 'Raleway';
text-align: center;
color: #FFFFFF;
}
.firstsection__section-button {
width: 25vw;
height: 9vh;
margin: 0 auto;
font: normal 900 1.5vw 'Raleway';
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
background-color: rgba(255, 67, 67, 1);
border: none;
}
.firstsection__section-button:hover{
background: rgba(231, 20, 20, 1);
cursor: pointer;
}
.firstsection__section-button:active {
background: rgba(255, 67, 67, 1);
box-shadow: 0 0 20px 4px rgba(255, 67, 67, 1);
}
.secondsection {
max-width: 100%;
height: 100%
}
.secondsection__container{
max-width: 78%;
height: 80vh;
margin: 11vh auto;
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1vw; 
}
.secondsection__container-content {
max-width: 390px;
text-align: center;
display: grid;
align-items: center;
justify-items: center;
}
.secondsection__container-content-title {
font: normal 900 2vw 'Raleway';
text-align: center;
text-transform: uppercase;
color: #2D3033;
}
.secondsection__container-content-paragraph {
font: normal 400 1.2vw 'Raleway';
text-align: center;
color: #6C7279;
}
.secondsection__container-content-image {
max-width: 63px;
max-height: 63px;
width: 100%;
height: 100%;
}
.thirdsection {
width: 100%;
height: 91vh;
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.thirdsection__images-wripper {
opacity: 0;
width: 100%;
height: 100%;
}
.thirdsection__images-wripper:hover {
opacity: 1;
background: rgba(255, 67, 67, 0.8);
cursor: pointer;
}
.thirdsection__images-wripper:active {
background: rgba(185, 12, 12, 0.8);
}

.thirdsection__images-title {
font: normal 900 24px 'Raleway';
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
position: relative;
top: 37%;
}
.thirdsection__images-paragraph {
font: normal 400 18px 'Raleway';
text-align: center;
color: #FFFFFF;
position: relative;
top: 50%;
}
.thirdsection__images-table {
background: url(image/table.png);
background-size: cover;
}
.thirdsection__images-sofa {
background: url(image/sofa.png);
background-size: cover;
}
.thirdsection__images-sofa2 {
background: url(image/sofa2.png);
background-size: cover;
}
.thirdsection__images-chairs {
background: url(image/chairs.png);
background-size: cover;
}
.thirdsection__images-chair {
background: url(image/chair.png);
background-size: cover;
}
.thirdsection__images-tableandchairs {
background: url(image/table_and_chairs.png);
background-size: cover;
}
.thirdsection__images-bed {
background: url(image/bed.png);
background-size: cover;
}
.thirdsection__images-sofa3 {
background: url(image/sofa3.png);
background-size: cover;
}
.fourthsection {
width: 100%;
height: auto;
}
.fourthsection__container {
width: 78%;
margin: 16vh auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 1vw;
}
.fourthsection__container-about-photo {
max-width: 270px;
max-height: 270px;
width: 100%;
height: auto;
}
.fourthsection__container-about-name {
font: normal 700 1.6vw 'Raleway';
text-transform: capitalize;
color: #2D3033;
position: relative;
top: 5%;
}
.fourthsection__container-about-position {
font: normal 400 1.2vw 'Raleway';
text-transform: uppercase;
color: #FF4343;
position: relative;
top: 5%;
}
.fourthsection__container-about-paragraph {
font: normal 400 1.2vw 'Raleway';
color: #6C7279;
position: relative;
top: 7%;
}
.fourthsection__container-about-links-socialnetwork {
width: 3vw;
}
.fourthsection__container-about-links {
position: relative;
top: 12%;
}
.col {
width: 100%;
height: auto;
background: rgba(92, 50, 73, 1);
display: flex;
align-items: center;
justify-content: center;
}
.row {
--bs-gutter-x: -0.5rem !important;
margin-left: 0 !important;
margin-right: 0 !important;
}
.carousel-inner-words {
max-width: 471px;
font: italic 400 2vw 'Cardo';
text-transform: capitalize;
color: #FFFFFF;
}
.carousel-indicators [data-bs-target] {
background: url(image/dot_not_active.svg);
background-repeat: no-repeat;
background-clip: border-box !important;
padding: 1px !important;
}
.container-fluid {
padding: 0 !important;
}
.carousel-indicators {
bottom: -60px !important;
}
.sixthsector {
width: 100%;
height: auto;
display: flex;
}
.sixthsector__container{
max-width: 78%;
height: auto;
margin: 20vh auto;
display: grid;
grid-template-rows: 1fr 2fr 2fr;
}
.sixthsector__container-title {
font: normal 500 2vw 'Raleway';
text-align: center;
}
.sixthsector__container-paragraph {
font: normal 700 1.4vw 'Raleway';
text-align: center; 
}
.seventhsection {
background: rgba(53, 60, 101, 1);
}
.seventhsection__container {
width: 78%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
height: 25vh;
margin: 0 auto;
}
.seventhsection__secondcol-img{
width: 3vw;
}
.seventhsection__col {
text-align: center;
display: grid;
align-items: center;
}
.seventhsection__col-title {
font: normal 700 1.4vw 'Raleway';
text-transform: uppercase;
color: #FFFFFF;
}
.seventhsection__col-paragraph {
font: normal 400 1.4vw 'Raleway';
text-transform: capitalize;
color: #FFFFFF;
}
.seventhsection__col-img {
width: 50%;
margin: 0 auto;
}
.seventhsection__col-img-wripper {
display: flex;
justify-content: space-around;
}
.eighthsection{
background: rgba(44, 49, 84, 1);
height: 10vh;
display: grid;
align-items: center;
}
.eighthsection__container{
margin: 0 auto;
}
.eighthsection__container-title {
font: normal 400 1.4vw 'Raleway';
margin: 0;
text-align: center;
text-transform: capitalize;
color: #808080;
}
.colortext {
color: white;
}
#navigation {
display: none;
}
@media (max-width:768px) {
#navigation {
display: flex;
}
.container-fluid{
position: relative;
bottom: 3vh;
right: 7vw;
}
.bg-light {
--bs-bg-opacity: 0 !important;
}
.fixed-top {
top: 30px !important;
right: 25px !important;
}
.firstsection__header-logo {
display: none;
}
.navbar-brand {
position: relative;
left: 10vw;
}
.offcanvas-end {
width: 100% !important;
border-left: none !important;
background: url(image/Image_for_firstsection.jpg) !important;
background-position-x: center !important;
background-repeat: no-repeat !important;
}
.firstsection__header-menu{
display: none;
}
.nav-link {
color: white !important;
font: normal 700 13px 'Raleway';
line-height: 47px;
text-align: left;
}
}
@media (max-width:320px) {
.firstsection__section-title {
font-size: 36px;
}
.firstsection__section-paragraph {
font-size: 14px;
}
.firstsection__section-button {
width: 78vw;
font-size: 24px;
}
.secondsection__container {
grid-template-columns: none;
height: 173vh;
grid-gap: 10vh;
}
.secondsection__container-content-title {
font-size: 6vw;
}
.secondsection__container-content-paragraph {
font-size: 4vw;
}
.thirdsection {
height: 75vh;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr;
}
.thirdsection__images-title {
font-size: 18px;
}
.thirdsection__images-paragraph {
font-size: 14px;
}
.fourthsection__container {
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-gap: 10vh;
margin: 10vh auto;
}
.fourthsection__container-about-name {
font-size: 18px;
}
.fourthsection__container-about-position {
font-size: 14px;
}
.fourthsection__container-about-paragraph {
font-size: 14px;
}
.fourthsection__container-about-links-socialnetwork {
width: 9vw;
}
.row {
display: block !important;
}
.carousel-inner-discription {
height: 30vh;
}
.carousel-inner-words {
font-size: 24px;
}
.sixthsector__container {
margin: 10vh auto;
grid-template-rows: 1fr 1fr 1fr;
align-items: center;
}
.sixthsector__container-title {
font-size: 18px;
font-weight: 600;
}
.sixthsector__container-paragraph {
font-size: 13px;
font-weight: 700;
}
.seventhsection__container {
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
height: 55vh;
}
.seventhsection__col-title {
font-size: 14px;
margin: 0;
}
.seventhsection__col-paragraph {
font-size: 14px;
margin: 0;
}
.seventhsection__secondcol-img {
width: 12vw;
}
.eighthsection__container-title {
font-size: 14px;
}
}